<!--<div class="bg-image bg-image4"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                    <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <a href="#/yourOptions/id1">
                    <div class="nav-selection active visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
            </div>
                                    <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                        <div>{{$index + 1}}</div>
                                        <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                        <div>{{$index + 7}}</div>
                                        <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                        <div>{{$index + 12}}</div>
                                        <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>
    <div class="container pages-container">
        <div class="pages row">


            <div class="proposal-page proposal-page-Upgrade-1 col-xs-12 column anim-fade ng-scope" style="border-radius: 25px;">

                <h1  style="border-radius-top: 25px;">Build Your Solar System</h1>

                <div ng-init="itemList = numArray">
                    <div class="col-xs-12 array-container" ng-repeat="item in itemList">

                        <form class="ng-pristine ng-invalid ng-invalid-required" name="Upgrade1.form">
                            <div class="solar-array ng-scope current">

                                <div class="solar-array-header col-xs-12">
                                    <div class="array-number pull-left ng-binding">Panel {{$index+1}}

                                        <span ng-if="item != itemList[itemList.length-1]" class="link" ng-click="removeArray(this)">remove</span>

                                    </div>
                                    <div class="advanced-options link pull-right" data-toggle="modal" data-target="#advancedOption">Advanced Options <span class="glyphicon glyphicon-cog"></span> </div>


                                    <!--********Model On Setting***********-->
                                    <div id="advancedOption" class="modal fade" role="dialog">
                                        <div class="modal-content" style="max-height: 700px; max-width: 900px; margin-left:17%; margin-top:30px">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title">Advanced Options - Panel {{$index+1}}</h3>
                                            </div>

                                            <div class="modal-body solar-system-designer-advanced-options">

                                                <div class="col-xs-10 col-xs-offset-1">
                                                    <!--<div class="row">
                                                        <h3 class="pull-left left">Module Type</h3>
                                                        <select class="form-control pull-right"></select>
                                                        <p class="col-xs-12">
                                                            The module type describes the photovoltaic modules in the array. Default is standard panels.
                                                        </p>
                                                    </div>-->

                                                    <div class="row">
                                                        <h3 class="pull-left left">Inverter Efficiency</h3>
                                                        <input class="form-control pull-right" type="text" />
                                                        <p class="col-xs-12">
                                                            The inverter's nominal rated DC-to-AC conversion efficiency. The default value is 96%.
                                                        </p>
                                                    </div>

<!--													<div class="row">
                                                        <h3 class="pull-left left">Shading Losses</h3>
                                                        <input class="form-control pull-right" type="text" />
                                                        <p class="col-xs-12">
                                                            Reduction in the incident solar radiation from shadows caused by objects near the array such as buildings or trees. Default is 3%.
                                                        </p>
                                                    </div>-->

                                                    <div class="row">
                                                        <h3 class="pull-left left">Annual Solar System Production Degradation</h3>
                                                        <input class="form-control pull-right" type="text" />
                                                        <p class="col-xs-12">
                                                            Solar panels degrade overtime depending on surrounding weather conditions, dust, etc. Typically this is covered in a manufacturer&rsquo;s warranty to be less than 20% degradation over 30 years. The degradation set in the first array will be applied to all arrays. Default is 0.65%.
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn-proposal">Apply Options</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--********Model On Setting***********-->

                                </div>
                                <div class="solar-array-content">

                                    <div class="box col-xs-6">
                                         <div ng-if="item == itemList[itemList.length-1]">
                                            <div class="icon-container type-roof" ng-hide="showme">
                                                <img src="css/images/solar-array-box-1.PNG">
                                            </div>
                                        </div>

                                        <h3>Number of Solar Panels</h3>
                                  <p>Select how many panels will be installed</p>   
                                        <div class="input-container">
                                            <input class="ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                                   name="array-0-system-size" numeric-min=".5" numeric-max="500000"
                                                   placeholder="5" required="" ng-model="energyBill.solarSystem[$index].systemSize" type="text">
                                            <span class="description">Number</span>
                                        </div>
                                    </div>


                                    <div class="box col-xs-6">
										 <div ng-if="item == itemList[itemList.length-1]">
                                            <div class="icon-container system-size">
                                                <img src="css/images/solar-array-box-2a.PNG">
                                            </div>
                                        </div>


                                      
                                        <div ng-if="item == itemList[itemList.length-1]">
                                            <div class="icon-container type-ground" ng-show="showme">
                                               <!-- <img src="css/images/solar-array-box-2b.PNG ">-->
                                            </div>
                                        </div>
                                        <h3>Panel Wattage</h3>
                                        <p>Select the wattage of the panels to be installed.</p>



                                                <div ng-click="showme=false" class="mounting-type col-xs-4 col-xs-offset-1 "
                                                     ng-class="{ 'selected': showme==false }">
                                                <div ng-click="mounting($index, 1)">260 W</div>
                                                </div>

                                                <div ng-click="showme=true" class="mounting-type col-xs-4 col-xs-offset-1 "
                                                     ng-class="{ 'selected': showme==true }">
                                                    <div ng-click="mounting($index, 0)">280 W</div>
                                                </div>


                                    </div>
                                   <!-- <div class="box col-xs-3 ">
                                        <div ng-if="item == itemList[itemList.length-1]">
                                            <div class="icon-container  ">
												<img src="css/images/solar-array-box-2.PNG "
                                            </div>
                                        </div>
                                        <h3>Inverter Efficiency</h3>
                                        <p>The inverter's nominal rated DC-to-AC conversion efficiency.</p>
                                        <div class="input-container ">
                                            <input class="ng-pristine ng-untouched ng-invalid ng-invalid-required "
                                                   ng-model="energyBill.solarSystem[$index].convEfficiency"
                                                   name="array-0-tilt" placeholder="96%" type="text ">
                                            <span class="description ">Percent </span>
                                        </div>
                                    </div>-->
                                    <!--<div class="box col-xs-3 ">
                                        <div ng-if="item == itemList[itemList.length-1]">
                                            <div class="icon-container  ">
												<img src="css/images/solar-array-box-3.PNG ">
                                            </div>
                                        </div>
                                        <h3>System Degradation</h3>
                                        <p>Solar panels degrade overtime</p>
                                        <div class="input-container ">
                                            <input class="ng-pristine ng-untouched ng-invalid ng-invalid-required "
                                                   name="array-0-orientation " numeric-min="0 " numeric-max="359 "
                                                   placeholder="0.65% " required=" " type="text"
                                                   ng-model="energyBill.solarSystem[$index].sysDegrade">
                                            <span class="description ">Percent</span>
                                        </div>
                                    </div>-->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
<!--				<div class="solar-array-footer col-xs-12 " style="margin-bottom: -26px;">
                    <div class=" btn-proposal add-array " ng-click="anotherArray()">Add Another Array</div>
                </div>-->

                <!--<div class="disclosure-footer col-xs-12 ng-scope "><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope " href="">HERO Program</a><span class="ng-scope "> &nbsp; | &nbsp;
        </span><a class="ng-scope " href="">Privacy Policy</a><span class="ng-scope "> &nbsp; | &nbsp;
        </span><a class="ng-scope " href="">Disclosures</a>
                </div>-->
            </div>
        </div>
    </div>

    <div id="proposal-page-nav">
        <a href="#/yourOptions/id1" style="text-decoration:none">
            <div class="nav-button prev">
                <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-top:3px">BACK</span>
        </div>
        </a>
        <a href="#/estimatedSolarSystemProduction/id1" style="text-decoration:none">
           <div class="nav-button next">
				
			<span style="font-size:20px; margin-top:3px">NEXT</span> 
			<span class="glyphicon glyphicon-arrow-right"style="position:relative;top:8px"></span> 
        </div>
        </a>
    </div>
</div>
