<!--<div class="bg-image bg-image2"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                    <div class="nav-selection active visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
            </div>
                                    <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                        <div>{{$index + 1}}</div>
                                        <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                        <div>{{$index + 7}}</div>
                                        <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                        <div>{{$index + 12}}</div>
                                        <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>
    <div class="container pages-container">
        <div class="pages row">

            <div class="proposal-page proposal-page-YEU-9 col-xs-12 column anim-fade ng-scope" style="min_height:300px;text-align:center">
                <h3>Your Future Electric Costs</h3>
                <div id="areaChart"> </div>
                <div class="circle" ng-show ="energyBill.lastIteration" style="position:absolute; top:-56px">
                    <div class="circle-text graph-button" ng-click="ShowBluImage()" style="height: 300px; width: 301px;">
                        <div class="glyphicon glyphicon-question-sign" style="font-size: 65px; margin-top: 18px"></div>
                        <div style="font-weight: bold; font-size:27px">
                            How much
                            <br> will you spend
                            <br> over {{energyBill.yearChange}} years?
                        </div>
                        <div style="display: inline-block;">
                            <pp style="font-size:10px; margin-top:30px;vertical-align:center;">FIND OUT</pp>
                            <div class="glyphicon glyphicon-chevron-right" style="font-size: 10px;margin-top:20px; vertical-align:center;"></div>

                        </div>
                    </div>
                </div>
            <div class="circle" ng-show="energyBill.lastIteration2" style="position:absolute; top:85px">
                    <img src="css/images/halo-circle.png" style="margin-left: -150px;">
                    <div class="content">You'll pay
                        <h2>{{"$" + energyBill.cumulative30YearsExpenseDisplay}}</h2> over {{energyBill.yearChange}} years to your electric utility</div>
                </div>
                <!--<div class="disclosure-footer col-xs-12 ng-scope"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">HERO Program</a><span> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">Disclosures</a>

                </div>-->
            </div>
        </div>
    </div>

    <div id="proposal-page-nav">
        <a href="#/percentageChange/id1" style="text-decoration:none">
            <div class="nav-button prev">
                <span class="icon">&lt;</span> BACK
            </div>
        </a>
        <a href="#/yourOptions/id1" ng-show="energyBill.lastIteration2" style="text-decoration:none">
            <div class="nav-button next">
                <span class="icon">&gt;</span> NEXT
            </div>
        </a>
    </div>
</div>
