<!--<div class="bg-image bg-image5"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
					<div class="nav-selection visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<a href="#/yourOptions/id1">
					<div class="nav-selection visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<a href="#/paymentOptions/id1">
					<div class="nav-selection active visited"></div>
				</a>
			</div>
									<!--************ list and setting start ********-->
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-th-list"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
						<li class="quick-navigation">
							<ul class="quicknav-header">
								<li>
									<h1>Quick Navigation</h1>
								</li>
								<li>
									<div class="icon icon-hero-map"></div>HERO Map
								</li>
								<li>
									<div class="icon icon-hero-video"></div>HERO Video
								</li>
								<li>
									<a>
										<div class="icon icon-get-approved"></div>Get Approved
									</a>
								</li>
							</ul>
							<div class="quicknav-body">
								<ul>
									<li>Energy Use</li>									
									<li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
										<a id="link-6" ng-href="{{mpaeu.url}}">
										<div>{{$index + 1}}</div>
										<div>{{mpaeu.title}}</div>
										</a>	
									</li>								
								</ul>
								<ul>
									<li>Upgrades</li>
									<li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
										<a id="link-6" ng-href="{{mpau.url}}">
										<div>{{$index + 7}}</div>
										<div>{{mpau.title}}</div>
										</a>	
									</li>									
								</ul>
								<ul>
									<li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
										<a id="link-6" ng-href="{{mpap.url}}">
										<div>{{$index + 12}}</div>
										<div>{{mpap.title}}</div>
										</a>	
									</li>																		
								</ul>
							</div>
						</li>
					</ul>
				</li>

				<!--******** setting start ********-->
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<!--<span class="glyphicon glyphicon-cog"></span>-->
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="">Quick Reference Guide</a>
						</li>
						<li><a href="">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Feedback</a>
						</li>
						<li><a href="">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Logout</a>
						</li>
					</ul>
				</li>
				<!--******** setting End ********-->

			</ul>
			<!--************ list and setting End ********-->
		</div>
	</div>
	<div class="container pages-container">
		<div class="pages row">
			
			
				<div class="proposal-page proposal-page-Payments-7 col-xs-6 col-xs-offset-3 column anim-fade">
									<h1>Fidelity Home Energy Summary</h1>
									<div>
										<div class="summary-content col-xs-8 col-xs-offset-2">
											<div class="row break" style="font-weight:normal;">
												<div class="describer">Your new</div>
												<div class="value"><strong class="ng-binding">{{"$" +  
                                                        energyBill.solarProduction}} kW Solar System</strong>
												</div>
											</div>
											<div class="row">
												<div class="describer">In the amount of</div>
												<div class="value"><strong class="ng-binding" ng-bind-html="PT.IC.ProductCost|currency:undefined:0"></strong>
												</div>
											</div>
											<div class="row">
												<div class="describer">Financed over a </div>
												<div class="value ng-binding"><strong class="ng-binding">5 year term</strong> at 6.75%</div>
											</div>

											<div class="row">
												<div class="describer">Will have an estimated 30-year net impact of</div>
												<div class="value ng-binding"><span class="positive">$45,481</span>
												</div>
											</div>
											<div class="row break">
												<div class="describer">Your estimated Fidelity Home Energy payment will be</div>
												<div>Your estimated Fidelity Home Energy payment with the Solar Tax Credit Pay Down applied will be</div>
												<div class="value"><span class="ng-binding" ></span> Year / <span class="ng-binding"></span> Month</div>
											</div>
											<div class="row">
												<div class="describer">With your first payment due</div>
												<div class="value ng-binding">November 2016</div>
											</div>
											<div class="row" ng-show="showHide">
												<span class="link" ng-click="showHideDetail()">Show full detail</span>
											</div>
										</div>

										<div class="summary-content col-xs-10 col-xs-offset-1" ng-hide="showHide">
											<div class="row break">
												<div class="describer">Fidelity Home Energy estimated benefits include...</div>
											</div>
											<div class="row">
												<div class="describer">Total tax savings</div>
												<div class="value ng-binding"><span class="negative">$0</span>
												</div>
											</div>
											<div class="row">
												<div class="describer">Total energy savings</div>
												<div class="value ng-binding"><span class="positive">$45,481</span>
												</div>
											</div>
											<div class="row">
												<div class="describer">Tax Credits &amp; Rebates</div>

												<div class="value ng-binding"><span class="negative">$0</span>
												</div>

												<div class="value ng-hide">Applied</div>

											</div>
											<div class="row break">
												<div class="describer">Your rates for the HERO <strong class="ng-binding">5 year term</strong> are...</div>
											</div>
											<div class="row">
												<div class="describer">Interest Rate</div>
												<div class="value ng-binding">6.75%</div>
											</div>
											<div class="row">
												<div class="describer">APR</div>
												<div class="value ng-binding">%</div>
											</div>
											<div class="row">
												<div class="describer">After Tax APR</div>
												<div class="value ng-binding">%</div>
											</div>
											<div class="row break">
												<div class="describer">Your fees &amp; costs include...</div>
											</div>
											<div class="row">
												<div class="describer">Program Administrative Fee</div>
												<div class="value ng-binding"></div>
											</div>
											<div class="row">
												<div class="describer">Recording Fee</div>
												<div class="value ng-binding">$95</div>
											</div>
											<div class="row">
												<div class="describer">Annual Assessment Fee</div>
												<div class="value ng-binding">$35</div>
											</div>
											<div class="row">
												<div class="describer">Accumulated Interest Before First Payment </div>
												<div class="value ng-binding"></div>
											</div>
											<div class="row">
												<span class="link" ng-click="showHideDetail()">Hide full detail</span>
											</div>
										</div>

									</div>

									
									<!--<div class="disclosure-footer col-xs-12 ng-scope"><span>

        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>

									</div>-->

								</div>
			
			
			
			
		</div>
	</div>


	<div id="proposal-page-nav">
		<a href="#/paymentOptions/id1" style="text-decoration:none">
			 <div class="nav-button prev">
                <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-top:3px">BACK</span>
        </div>
		</a>
		<a href="#/finishApplication/id1" style="text-decoration:none">
			<div class="nav-button next">
				
			<span style="font-size:20px; margin-top:3px">NEXT</span> 
			<span class="glyphicon glyphicon-arrow-right"style="position:relative;top:8px"></span> 
        </div>
		</a>
	</div>
</div>