<!--<div class="bg-image bg-image2"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                <div class="nav-selection active visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
            </div>
                                    <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                        <div>{{$index + 1}}</div>
                                        <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                        <div>{{$index + 7}}</div>
                                        <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                        <div>{{$index + 12}}</div>
                                        <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>
    <div class="container pages-container">
        <div class="pages row">
            <div class="proposal-page proposal-page-YEU-2b col-xs-6 col-md-offset-3 column anim-fade">
                <h1>Let’s Review Just One Bill</h1>
                <div class="ng-binding" style="text-align:center; font-size:14px; margin-top:10px;">
                   My Utility Company <span class="link ng-hide">(change)</span>
                </div>
                <ul class="other-options options">
                    <li>
                        <select  class="form-control ng-pristine ng-untouched ng-valid" ng-model="model.id" convert-to-number>
                            <option selected="selected" value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                     </li>

                    <li>
                           <span ng-show="energyBill.dollar">
                           <input value="$0" class="form-control disable-animations pull-left ng-pristine ng-untouched ng-valid" type="text"   ng-model="energyBill.Month[model['id'] ].dollars"  ng-change=energyBill.propagateEnergyBillFromDollar(model['id']) currency-input>
                        </span>
                        <span ng-hide="energyBill.dollar">
                           <input value="0 kWh" class="form-control disable-animations pull-left ng-pristine ng-untouched ng-valid"  type="text" ng-model="energyBill.Month[model['id'] ].kWh" ng-change=energyBill.propagateEnergyBillFromkWh(model['id'])  kwh-input>
                        </span>
                        <div class="pull-right">
                            <div style="width: 67px; height: 34px;" class="toggle btn btn-success" data-toggle="toggle">
                                <div class="toggle-group" ng-click="toggleCustom() ">
                                    <label ng-show="energyBill.dollar" class="btn btn-success toggle-on " >$$</label>
                                    <label ng-hide="energyBill.dollar" class="btn btn-primary toggle-on" >kWh</label><span class="toggle-handle btn btn-default"></span>
                                </div>
                            </div>
                        </div>




                    </li>
                    <li>
                        <a href="#/oneBillBarGraph/id1" style="text-decoration:none">
                            <button class="btn-proposal icon-right">
                                <div class="btn-text" style="padding-right: 40px">Continue</div>
                                <div class="btn-graphic"><!--<img src="css/images/arrow-right.png">-->
                                <div class="glyphicon glyphicon-chevron-right" style="margin-top: 12px; width:40px; font-size:25px"></div>
                                </div>
                            </button>
                        </a>
                    </li>
                </ul>
                <!--<div class="disclosure-footer col-xs-12 ng-scope"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>

                </div>-->
            </div>
        </div>
    </div>
    <div id="proposal-page-nav">
        <a href="#/review/id1" style="text-decoration:none">
            <div class="nav-button prev">
                <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-top:3px">BACK</span>
        </div>
        </a>
    </div>
</div>
