<div class="bg-image bg-image2"></div>
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img src="css/images/HERO_Logo.png" height="60">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
				<div class="nav-selection active visited"></div>
				</a>	
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
			</div>
			<ul class="nav nav-pills pull-right ng-scope">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="#">Quick Reference Guide</a>
						</li>
						<li><a href="#">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Feedback</a>
						</li>
						<li><a href="#">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="container pages-container">
		<div class="pages row">
			<div class="proposal-page proposal-page-YEU-2b col-xs-6 col-md-offset-3 column anim-fade">
				<h1>Let’s Review Just One Bill</h1>
				<div class="ng-binding" style="text-align:center; font-size:14px; margin-top:10px;">
					Pacific Gas &amp; Electric <span class="link ng-hide">(change)</span>
				</div>
				<ul class="other-options options">
					<li>
						<select  class="form-control ng-pristine ng-untouched ng-valid" ng-model="model.id" convert-to-number>
							<option selected="selected" value="0">January</option>
							<option value="1">February</option>
							<option value="2">March</option>
							<option value="3">April</option>
							<option value="4">May</option>
							<option value="5">June</option>
							<option value="6">July</option>
							<option value="7">August</option>
							<option value="8">September</option>
							<option value="9">October</option>
							<option value="10">November</option>
							<option value="11">December</option>
						</select>
 					</li>
                        
					<li>

					   	<span ng-show="custom">
					       <input value="$0" class="form-control disable-animations pull-left ng-pristine ng-untouched ng-valid" type="text"   ng-model="energyBill[model['id'] ].dollar">
						</span>
						<span ng-hide="custom">
						   <input value="0 kWh" class="form-control disable-animations pull-left ng-pristine ng-untouched ng-valid"  type="text" ng-model="valueKwh">
						</span>
						<div class="pull-right">
							<div style="width: 67px; height: 34px;" class="toggle btn btn-success" data-toggle="toggle">
								<div class="toggle-group" ng-click="toggleCustom() ">
									<label ng-show="custom" class="btn btn-success toggle-on " ng-click="onDollarChange()">$$</label>
									<label ng-hide="custom" class="btn btn-primary toggle-on" ng-click="onKwhChange()">kWh</label><span class="toggle-handle btn btn-default"></span>
								</div>
							</div>
						</div>




					</li>
					<li>
						<a href="#/oneBillBarGraph/id1">
							<button class="btn-proposal icon-right">
								<div class="btn-text" style="padding-right: 40px">Continue</div>
								<div class="btn-graphic"><img src="css/images/arrow-right.png">
								</div>
							</button>
						</a>
					</li>
				</ul>
				<div class="disclosure-footer col-xs-12 ng-scope"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>

				</div>
			</div>
		</div>
	</div>
	<div id="proposal-page-nav">
		<a href="#/review/id1">
			<div class="nav-button prev">
				<span class="icon">&lt;</span> BACK
			</div>
		</a>
	</div>
</div>