<div class="bg-image bg-image2"></div>
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img src="css/images/HERO_Logo.png" height="60">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
					<div class="nav-selection active visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
			</div>
			<ul class="nav nav-pills pull-right ng-scope">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="#">Quick Reference Guide</a>
						</li>
						<li><a href="#">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Feedback</a>
						</li>
						<li><a href="#">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Logout</a>
						</li>

					</ul>
				</li>
			</ul>
		</div>
	</div>


	<div class="container pages-container">
		<div class="pages row">

			<div class="proposal-page proposal-page-YEU-3 col-xs-6 col-md-offset-3 column anim-fade">
				<div class="col-xs-12 graph-header ng-binding" style="vertical-align:34px;">

					Pacific Gas &amp; Electric <span class="link ng-hide">(change)</span>

					<div class="pull-right">
						<div style="width: 67px; height: 34px;" class="toggle btn btn-success" data-toggle="toggle">
							<div class="toggle-group" ng-click="toggleCustom()">
								<label ng-show="custom" class="btn btn-success toggle-on">$$</label>
								<label ng-hide="custom" class="btn btn-primary toggle-on">kWh</label><span class="toggle-handle btn btn-default"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12" style="margin:20px auto 0px; " ng-init="months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']">
					<div class="row" class="animate-repeat" ng-repeat="i in [0, 1, 2, 3, 4, 5]">
						<div class="col-xs-6">
							<span>{{months[$index]}}</span>
							<input ng-show="custom" value="$0" class="form-control disable-animations ng-pristine ng-untouched ng-valid" type="text" ng-model="energyBill[i].dollars">
							<input ng-hide="custom" value="0 kWh" class="form-control disable-animations ng-pristine ng-untouched ng-valid ng-hide" type="text" ng-model="energyBill[i].kWh">
						</div>
						<div class="col-xs-6">
							<span>{{months[$index+6]}}</span>
							<input ng-show="custom" value="$0" class="form-control disable-animations ng-pristine ng-untouched ng-valid" type="text" ng-model="energyBill[i+6].dollars">
							<input ng-hide="custom" value="0 kWh" class="form-control disable-animations ng-pristine ng-untouched ng-valid ng-hide" type="text" ng-model="energyBill[i+6].kWh">
						</div>
					</div>
				</div>
				<div class="disclosure-footer col-xs-12 ng-scope"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="proposal-page-nav">
	<a href="#/review/id1">
		<div class="nav-button prev">
			<span class="icon">&lt;</span> BACK
		</div>
	</a>
	<a href="#/multipleBillBarGraph/id1">
		<div class="nav-button next">
			<span class="icon">&gt;</span> NEXT
		</div>
	</a>
</div>
</div>