<div class="bg-image bg-image2"></div>
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img src="css/images/HERO_Logo.png" height="60">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
					<div class="nav-selection active visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
			</div>
			<ul class="nav nav-pills pull-right ng-scope">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="#">Quick Reference Guide</a>
						</li>
						<li><a href="#">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Feedback</a>
						</li>
						<li><a href="#">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- **********Adjust Graph Before show************** -->
	<div class="container pages-container" style="width:80%" ng-show="showHide">
		<div class="pages row">
			<div class="proposal-page proposal-page-YEU-9 col-xs-12 column anim-fade ng-scope" style="text-align:center; ">
				<div>
					<div style="padding: 100px; font-size: 28px; ">
						<p>
							Based on our review, your electric use has been estimated for the remainder of the year.
						</p>
						<p style="margin-top:20px">
							<strong>Drag</strong> each column <strong>UP</strong> and <strong>DOWN</strong> to fine tune each month.
						</p>
					</div>
					<a ng-click="ShowGraph()">
						<button class="btn-proposal btn-large icon-right clearfix" style="margin-bottom:10%; margin-top:-5%; padding-right: 30px">
							<div class="btn-text">Adjust Graph</div>
							<div class="btn-graphic"><img src="css/images/arrow-right.png">
							</div>
						</button>
					</a>
				</div>


				<div class="disclosure-footer col-xs-12 ng-scope" style="margin-top: 124px;"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">HERO Program</a><span> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">Disclosures</a>
				</div>
			</div>
		</div>
	</div>
	<!-- **********Adjust Graph Before show************** -->
	<div class="container pages-container" ng-hide="showHide">
		<div class="pages row">
			<div class="proposal-page proposal-page-YEU-4 col-xs-12 column anim-fade ng-scope">
				<div class="col-xs-12 graph-header">

					<div class="sum-values">
						<div ng-show="custom">ANNUAL COST: {{energyBill.annualCost}}</div>
						<div ng-hide="custom">ANNUAL USAGE: 0 kWh</div>
					</div>


					<h1>Your Current Electric Bills with <strong class="long-name ng-binding">Pacific Gas &amp; Electric</strong><strong class="short-name ng-binding">PG&amp;E</strong></h1>


					<div class="pull-right">
						<div style="width: 67px; height: 34px;" class="toggle btn btn-success" data-toggle="toggle">
							<div class="toggle-group" ng-click="toggleCustomBar()">
								<label ng-show="custom" class="btn btn-success toggle-on">$$</label>
								<label ng-hide="custom" class="btn btn-primary toggle-on">kWh</label><span class="toggle-handle btn btn-default"></span>
							</div>
						</div>
					</div>
					
					
				</div>
                         <div id="bars" style="margin-top:40px"> </div>
				<div class="disclosure-footer col-xs-12 ng-scope" style="margin-top: 124px;"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="">Disclosures</a>
				</div>
			</div>
		</div>

	</div>
	<div id="proposal-page-nav">
		<a href="#/multipleBills/id1">
			<div class="nav-button prev">
				<span class="icon">&lt;</span> BACK
			</div>
		</a>
		<a href="#/annualElectricBill/id1" ng-hide="showHide">
			<div class="nav-button next">
				<span class="icon">&gt;</span> NEXT
			</div>
		</a>
	</div>
</div>