<!--<div class="bg-image bg-image5"></div>-->
<!--<div class="bg-image bg-image5"></div>-->

<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">

<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                    <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <a href="#/yourOptions/id1">
                    <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection active visited"></div>
            </div>
            <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                            <div>{{$index + 1}}</div>
                                            <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                            <div>{{$index + 7}}</div>
                                            <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                            <div>{{$index + 12}}</div>
                                            <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <!--<span class="glyphicon glyphicon-cog"></span>-->
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>

    <div class="container pages-container">
        <div class="option pages row option">
            
                <div class="row"  style="position:relative; margin-top:60px;">
                    <div class="col-sm-2 optionBorderRadius">
                        <p style="padding-top:30px">Total investment</p>

                        <p>Initial Visit Discount</p>

                        <p>Net of Total Inv and IVD</p>

                        <p>0 out of pocket</p>

                        <center ng-hide="showOptionA" style="margin-top: 100px;">
                            <a href="" class="btn btn-primary" ng-click="showNextOptionA()">Show Options</a>
                        </center>

                    </div>
                    <div class="col-sm-3 optionAB" ng-show="showOptionA">
                        <div class="TextOption">Option A</div>
                        <p style="padding-top:15px">0 out of pocket</p>
                        <p> 0 interest</p>

                        <p> 0 payments for 12 months</p>

                        <center ng-show="OptionB" style="margin-top: 140px;">
                            <a href="" class="btn btn-primary" ng-click="showNextOptionB()">Show Options</a>
                        </center>

                    </div>
                    <div class="col-sm-3 optionAB" ng-show="showOptionB">

                        <div class="TextOption">Option B</div>
                        <p style="padding-top:15px">0 out of pocket</p>
                        <p>6.99% interest</p>

                        <p>${{energyBill.OptionBemi}} "payments" monthly installment </p>

                        <p>144 months</p>

                        <center ng-show="OptionC" style="margin-top: 100px;">
                            <a href="" class="btn btn-primary" ng-click="showNextOptionC()">Show Options</a>
                        </center>

                    </div>
                    <div class="col-sm-4 optionBorderRadiusRight" ng-show="showOptionC">
                        <div class="TextOption">Option C- Split Program </div>
                        <p style="padding-left: 158px; padding-top:15px"> 0 out of pocket </p>


                        <div class="row" style="border-top: 1px solid #dadad8;">

                            <div class="col-sm-6" style=" padding-top:10px;border-right: 1px solid #dadad8; height: 325px;">
                                <p>"Tax Credit" Split</p>
                                <p>30% net IVD cost</p>
                                <p>0 interest</p>
                                <p>0 payments for 12 months</p>

                            </div>
                            <div class="col-sm-6" style="padding-top:10px">
                                <p>Net investment split</p>
                                <p>70% of the IVD total</p>
                                <p>6.99% interest</p>
                                <p>"payment" monthly installment</p>
                                <p>144 months</p>
                            </div>
                        </div>

                    </div>

                </div>
            
            <!--competative and INITIAL end here-->



        </div>





        <div id="proposal-page-nav">
            <a href="#/paymentOptions/id1" style="text-decoration:none">
                <div class="nav-button prev">
                    <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-top:3px">BACK</span>
                </div>
            </a>
            <a href="#/finish/id1" style="text-decoration:none">
                <div class="nav-button next">

                    <span style="font-size:20px; margin-top:3px">NEXT</span>
                    <span class="glyphicon glyphicon-arrow-right" style="position:relative;top:8px"></span>
                </div>
            </a>
        </div>

    </div>