<!--<div class="bg-image bg-image5"></div>-->
<!--<div class="bg-image bg-image5"></div>-->

<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">

<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                    <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <a href="#/yourOptions/id1">
                    <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection active visited"></div>
            </div>
            <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                            <div>{{$index + 1}}</div>
                                            <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                            <div>{{$index + 7}}</div>
                                            <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                            <div>{{$index + 12}}</div>
                                            <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>

    <div class="container pages-container">
        <div class="pages row" style="margin-left: -100px; margin-right: -85px;">
            <!--competative and INITIAL start here-->
            <div ng-hide="finish">
                <div class="payment_option proposal-page  proposal-page-YEU-6  col-xs-12  column" style="border-radius: 25px;" ng-hide="visitDiscount">

                    <!--*******     heading   start   **********-->
                    <div class="row paymentOption_text">
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <center>
                                <h3 style=" color: #55636a;; font-size: 42px; border-bottom:1px solid #dadad8; padding-bottom:20px">Investment Review</h3>
                            </center>
                        </div>
                    </div>
                    <!--*******     heading close     **********-->


                    <div class="row paymentOption_text">

                        <div class="payOptions">
                            <h3 style="text-align:center; font-weight:bold">COMPETITIVE ESTIMATE GOOD FOR 6 MONTHS</h3>


                            <br>
                            <p style="padding-left: 80px; font-size:20px">
                                Total Investment: {{ "$" + energyBill.solarCostDisplay}}
                            </p>
                            <p style="padding-left: 80px; font-size:20px">
                                Out of Pocket: {{"$" + energyBill.outOfPocket}}
                            </p>
                            <div class="row" style="border: 1px solid #dadad8; margin-left:15px; margin-right:15px">
                                <div class="col-lg-6" style="border-right: 1px solid #dadad8;">
                                    <p>
                                        <center style="font-weight:bold; font-size:20px">CASH</center>
                                    </p>

                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        <center style="font-weight:bold; font-size:20px">EZ PAY</center>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #dadad8; margin-top:10px; margin-bottom:10px">
                                    <p style="padding-left: 120px; font-size:15px">
                                        <br> {{"$" + energyBill.cashDisplay}}
                                        <br>
                                        <br> Balance Due
                                        <br>
                                        <br> Upon Completion
                                        <br>
                                        <br>

                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <p style="padding-left: 80px; font-size:15px">
                                        <br> ${{energyBill.emi}}
                                        <br>
                                        <br> Monthly Investment
                                        <br>
                                        <br> @ 15.9% APR for 144 months (12 yrs.)

                                        <br>
                                        <br>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!--competative and INITIAL end here-->

        </div>





        <div id="proposal-page-nav">
            <a href="#/solarSystemSummary/id1" style="text-decoration:none">
                <div class="nav-button prev">
                    <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-top:3px">BACK</span>
                </div>
            </a>
            <a href="#/options/id1" style="text-decoration:none">
                <div class="nav-button next">

                    <span style="font-size:20px; margin-top:3px">NEXT</span>
                    <span class="glyphicon glyphicon-arrow-right" style="position:relative;top:8px"></span>
                </div>
            </a>
        </div>

    </div>