<div class="bg-image bg-image5"></div>
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img src="css/images/HERO_Logo.png" height="60">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
				<div class="nav-selection visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<a href="#/yourOptions/id1">
				<div class="nav-selection visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection active visited"></div>
			</div>
									<!--************ list and setting start ********-->
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-th-list"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
						<li class="quick-navigation">
							<ul class="quicknav-header">
								<li>
									<h1>Quick Navigation</h1>
								</li>
								<li>
									<div class="icon icon-hero-map"></div>HERO Map
								</li>
								<li>
									<div class="icon icon-hero-video"></div>HERO Video
								</li>
								<li>
									<a>
										<div class="icon icon-get-approved"></div>Get Approved
									</a>
								</li>
							</ul>
							<div class="quicknav-body">
								<ul>
									<li>Energy Use</li>									
									<li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
										<a id="link-6" ng-href="{{mpaeu.url}}">
										<div>{{$index + 1}}</div>
										<div>{{mpaeu.title}}</div>
										</a>	
									</li>								
								</ul>
								<ul>
									<li>Upgrades</li>
									<li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
										<a id="link-6" ng-href="{{mpau.url}}">
										<div>{{$index + 7}}</div>
										<div>{{mpau.title}}</div>
										</a>	
									</li>									
								</ul>
								<ul>
									<li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
										<a id="link-6" ng-href="{{mpap.url}}">
										<div>{{$index + 12}}</div>
										<div>{{mpap.title}}</div>
										</a>	
									</li>																		
								</ul>
							</div>
						</li>
					</ul>
				</li>

				<!--******** setting start ********-->
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="">Quick Reference Guide</a>
						</li>
						<li><a href="">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Feedback</a>
						</li>
						<li><a href="">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Logout</a>
						</li>
					</ul>
				</li>
				<!--******** setting End ********-->

			</ul>
			<!--************ list and setting End ********-->
		</div>
	</div>
	<div class="container pages-container">
		<div class="pages row">
			<div class="proposal-page proposal-page-Payments-2 col-xs-12 column anim-fade ng-scope">
				<div class="col-xs-12 col-xs-offset-0">

					<div class="column-container">

						<div class="column first-column wide">
							<div class="row chart-header row-header">
								<h2>Payment <br>Options</h2>
							</div>

							<div class="row"><span class="align-right">Payment Due</span>
							</div>
							<div class="row"><span class="align-right">Balance Transferable</span>
							</div>
							<div class="row"><span class="align-right">Based on Credit Score</span>
							</div>
							<div class="row"><span class="align-right">Tax Benefits</span>
							</div>
						</div>

						<div class="column">
							<div class="row row-header">
								<div class="graphic cash-graphic"></div>
								<div class="graphic-subtitle">Cash</div>
							</div>

							<div class="row">Now</div>
							<div class="row">Not Transferable</div>
							<div class="row">No</div>
							<div class="row">None</div>
						</div>

						<div class="column">
							<div class="row row-header">
								<div class="graphic loan-graphic"></div>
								<div class="graphic-subtitle">Standard Loan</div>
							</div>

							<div ng-show="firstCol">
								<div style="height:300px; padding-top:110px;">
									<div class="btn-proposal" ng-click="showHideFirstColumn()">Show Loan</div>
								</div>
							</div>
							<div ng-hide="firstCol">
								<div style="border-bottom:none;" class="row">Monthly</div>
								<div class="row">Not Transferable</div>
								<div class="row">Yes</div>
								<div class="row">None</div>
							</div>


						</div>

						<div class="column" ng-hide="firstCol">

							<div class="row row-header">
								<div class="graphic home-equity-graphic"></div>
								<div class="graphic-subtitle">Home Equity
									<br> Loan</div>
							</div>

							<div ng-show="secondCol">

								<div style="height:300px; padding-top:110px;">
									<div ng-click="showHideSecondColumn()" class=" btn-proposal">Show Loan</div>
								</div>

							</div>

							<div ng-hide="secondCol">
								<div class="row" style="border-bottom:none;">Monthly</div>
								<div class="row">Not Transferable</div>
								<div class="row">Yes</div>
								<div class="row">Some</div>
							</div>
						</div>

						<div class="column wide" ng-hide="secondCol">
							<div class="col-container">
								<div class="row row-header"><img src="css/images/HERO_Logo.png" class="HERO-graphic">
								</div>

								<div ng-show="thirdCol">
									<div style="height:300px; float:left; width:100%">
										<div ng-click="showHideThirdColumn()" class="btn-proposal" style="margin-top:40px">Show HERO</div>
									</div>
								</div>
								<div ng-hide="thirdCol">
									<div class="row" style="padding-top:15px; border-bottom:none;">No Annual Payment Until 11/1/2016</div>
									<div class="row" style="padding-top:0px;">Can be Transferred to New Owners</div>
									<div class="row" style="padding-top:10px;">Not Based on Credit Score</div>
									<div class="row" style="padding-top:26px; padding-bottom:0px;">Multiple Tax Benefits</div>

								</div>
							</div>

						</div>
						<div class="disclosure-footer ng-scope full"><span>
        Copyright &copy; 2015 Renovate America &nbsp; | &nbsp;
        </span><a  href="" class="ng-scope">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a  href="" class="ng-scope">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a  href="" class="ng-scope">Disclosures</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="proposal-page-nav">
		<a href="#/solarSystemSummary/id1">
			<div class="nav-button prev">
				<span class="icon">&lt;</span> BACK
			</div>
		</a>
		<a href="#/summary/id1" ng-hide="thirdCol">
			<div class="nav-button next">
				<span class="icon">&gt;</span> NEXT
			</div>
		</a>
	</div>
</div>