<div class="bg-image bg-image2"></div>
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img src="css/images/HERO_Logo.png" height="60">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
				<div class="nav-selection active visited"></div>
				</a>	
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
			</div>
			<ul class="nav nav-pills pull-right ng-scope">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="#">Quick Reference Guide</a>
						</li>
						<li><a href="#">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Feedback</a>
						</li>
						<li><a href="#">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="#">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="container pages-container">
		<div class="pages row">

			<div class="proposal-page col-xs-12 proposal-page-YEU-8 column anim-fade ng-scope ">
				<div style="padding:60px 80px; font-size:24px; text-align:center;">
					<p>
						<strong>
                                How much do you think they will change each year?
                         </strong>
					</p>
					<div class="btn-proposal-group">
						<button class=" btn-proposal" ng-click="count=count+1"  ng-init="count=0.5">∧</button>
						<input  class="ng-pristine ng-untouched ng-valid" ng-model="energyBill.percentChange" style="width: 90px;" type="text">
						<button class=" btn-proposal" ng-click="count=count-1" >∨</button>
					</div>
				</div>
				<div class="disclosure-footer col-xs-12 ng-scope"><span class="ng-binding ng-scope">
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>

				</div>
			</div>
		</div>
	</div>

	<div id="proposal-page-nav">
		<a href="#/lineGraph/id1">
			<div class="nav-button prev">
				<span class="icon">&lt;</span> BACK
			</div>
		</a>
		<a href="#/futureElectricCost/id1">
			<div class="nav-button next">
				<span class="icon">&gt;</span> NEXT
			</div>
		</a>
	</div>
</div>