<div class="bg-image bg-image2"></div>
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img src="css/images/HERO_Logo.png" height="60">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
				<div class="nav-selection active visited"></div>
				</a>	
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
			</div>
									<!--************ list and setting start ********-->
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-th-list"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
						<li class="quick-navigation">
							<ul class="quicknav-header">
								<li>
									<h1>Quick Navigation</h1>
								</li>
								<li>
									<div class="icon icon-hero-map"></div>HERO Map
								</li>
								<li>
									<div class="icon icon-hero-video"></div>HERO Video
								</li>
								<li>
									<a>
										<div class="icon icon-get-approved"></div>Get Approved
									</a>
								</li>
							</ul>
							<div class="quicknav-body">
								<ul>
									<li>Energy Use</li>									
									<li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
										<a id="link-6" ng-href="{{mpaeu.url}}">
										<div>{{$index + 1}}</div>
										<div>{{mpaeu.title}}</div>
										</a>	
									</li>								
								</ul>
								<ul>
									<li>Upgrades</li>
									<li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
										<a id="link-6" ng-href="{{mpau.url}}">
										<div>{{$index + 7}}</div>
										<div>{{mpau.title}}</div>
										</a>	
									</li>									
								</ul>
								<ul>
									<li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
										<a id="link-6" ng-href="{{mpap.url}}">
										<div>{{$index + 12}}</div>
										<div>{{mpap.title}}</div>
										</a>	
									</li>																		
								</ul>
							</div>
						</li>
					</ul>
				</li>

				<!--******** setting start ********-->
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="">Quick Reference Guide</a>
						</li>
						<li><a href="">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Feedback</a>
						</li>
						<li><a href="">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Logout</a>
						</li>
					</ul>
				</li>
				<!--******** setting End ********-->

			</ul>
			<!--************ list and setting End ********-->
		</div>
	</div>


	<div class="container pages-container">
		<div class="pages row">
			<div class="proposal-page proposal-page-YEU-2 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 column anim-fade" style="display: block;">
				<h1>Let’s Review...</h1>

				<ul class="other-options options" style="list-style-type:none;">
					<li>
						<a href="#/multipleBills/id1">
							<button class="btn-proposal icon-left">
								<div class="btn-text">Multiple Bills</div>
								<div class="btn-graphic"><img src="css/images/documents.png">
								</div>
							</button>
						</a>
					</li>
					<li>
						<a href="#/justOneBill/id1">
						<button class="btn-proposal icon-left">
							<div class="btn-text">Just One Bill</div>
							<div class="btn-graphic"><img src="css/images/document.png">
							</div>
						</button>
						</a>	
					</li>
					<li>
						<a href="#/noBillBarGraph/id1">
						<button class="btn-proposal icon-left">
							<div class="btn-text">No Bills Available</div>
							<div class="btn-graphic"><img src="css/images/square.png">
							</div>
						</button>
						</a>
					</li>
				</ul>
				<div class="disclosure-footer col-xs-12 ng-scope"><span class="ng-binding ng-scope">
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>

				</div>
			</div>
		</div>
	</div>
	<div id="proposal-page-nav">
		<a href="#/startProposal/id1">
			<div class="nav-button prev">
				<span class="icon">&lt;</span> BACK
			</div>
		</a>
	</div>
</div>