<!--<div class="bg-image bg-image4"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                    <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <a href="#/yourOptions/id1">
                    <div class="nav-selection active visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
            </div>
            <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                            <div>{{$index + 1}}</div>
                                            <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                            <div>{{$index + 7}}</div>
                                            <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                            <div>{{$index + 12}}</div>
                                            <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>
    <div class="container pages-container">
        <div class="pages row">
            <div class="solarSystemSummaryPage_glyphicon proposal-page proposal-page-Upgrade-3 col-xs-8 col-xs-offset-2 column anim-fade" style="border-radius: 25px; width: 1200px; margin-left: -13px;">

                <h1 style="border-radius-top: 25px;">Your Solar System Details</h1>

                <div class="col-xs-12 ">

                    <div class="col-xs-8 column glyphicon-one-fine-dot">
                        <!--<h2 class="ng-binding ">{{energyBill.solarEstimatedProductionDisplay + ' kW Solar System'}}</h2>-->
                        <div class="col-sm-6 " style="border-right: 1px solid #dadad8; text-align:left">


                            <h3> {{energyBill.numPanels}} High Efficiency Panels {{energyBill.panelType}} Watts
                            </h3>

                            <h3> Custom Engineering, All Drawings & Permits </h3>


                            <h3> Custom Wiring </h3>

                            <h3> Custom Anodized Aluminum Racking </h3>

                            <h3> 30 Year System Warranty</h3>

                            <h3> Roof Warranty</h3>


                            <h3> Money Back System Production Guarantee</h3>
                        </div>

                        <div class="col-sm-6" style=" text-align:left">
                            <h3 style="margin-left:20px"> High Efficiency Micro Inverters</h3>

                            <h3 style="margin-left:20px"> Monitoring Station</h3>

                            <h3 style="margin-left:20px"> Custom Conduit</h3>

                            <h3 style="margin-left:20px"> Labor and Clean Up By</h3>
                            <h4 style="margin-left:20px; color: #666; font-size: 13px; font-weight: normal; white-space: nowrap; padding-top:16px">&nbsp; &nbsp; &nbsp; &nbsp;FHE Employed Installers</h4>
                            <h3 style="margin-left:20px"> Damage Warranty</h3>

                            <h3 style="margin-left:20px"> Relocation Guarantee</h3>

                        </div>


                    </div>
                    <div class="col-xs-4 column ">

                        <div class="row ">
                            <div class="col-xs-12 ">
                                <h3>First Year Estimated Production</h3>
                            </div>
                            <div class="col-xs-6 ng-binding ">$1,931</div>
                            <div class="col-xs-6 ng-binding ">{{energyBill.solarEstimatedProductionDisplay + ' kWh'}}</div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 ">
                                <h3>First Year Bill Offset</h3>
                            </div>
                            <div class="col-xs-6 ng-binding ">98%
                                <br> <span class="label ">Bill</span>
                            </div>
                            <div class="col-xs-6 ng-binding ">102%
                                <br> <span class="label ">Usage</span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 ">
                                <h3>30 Year Estimated Production</h3>
                            </div>
                            <div class="col-xs-6 ng-binding ">$45,481</div>
                            <div class="col-xs-6 ng-binding ">{{energyBill.solarEstimated30YearProductionDisplay + ' kWh' }} </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-12 ">
                                <!--<h3>How much will your solar system cost?</h3>-->
                                <h3></h3>

                            </div>
                        </div>
                    </div>
                </div>
                                  <center>
           <a href="#/paymentOptions/id1" style="text-decoration:none">
						<button class="btn-proposal btn-large icon-right clearfix" style="margin-bottom:5%; margin-top:5%; padding-right: 35px">
							<div class="btn-text">Show Estimate</div>
							<div class="btn-graphic">
								<div class="glyphicon glyphicon-chevron-right" style="margin-top: 12px; width:40px; font-size:25px"></div>	
							</div>
						</button>
					</a>
        </center>
                
                
                <!--<div class="disclosure-footer col-xs-12 ng-scope"><span>
        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope " href="#">HERO Program</a><span class="ng-scope "> &nbsp; | &nbsp;
        </span><a class="ng-scope " href="#">Privacy Policy</a><span class="ng-scope "> &nbsp; | &nbsp;
        </span><a class="ng-scope " href="#">Disclosures</a>
                </div>-->
            </div>
 
        </div>
 
    </div>
    <div id="proposal-page-nav">
        <a href="#/estimatedSolarSystemProduction/id1" style="text-decoration:none">
            <div class="nav-button prev">
                <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-top:3px">BACK</span>
            </div>
        </a>
        <!--<a href="#/paymentOptions/id1" style="text-decoration:none">
            <div class="nav-button next">
                <span style="font-size:20px; margin-top:3px">NEXT</span>
                <span class="glyphicon glyphicon-arrow-right" style="position:relative;top:8px"></span>
            </div>
        </a>-->
    </div>
</div>