            <!--***************** removed this page ********************-->


<!--<div class="bg-image bg-image4"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
	<div class="header row container-fluid ng-scope">
		<div class="container">
			<img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

			<div class="proposal-toop-quick-nav">
				<a href="#/startProposal/id1">
				<div class="nav-selection visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<a href="#/yourOptions/id1">
				<div class="nav-selection active visited"></div>
				</a>
				<div class="nav-selection-divider"></div>
				<div class="nav-selection"></div>
			</div>
									<!--************ list and setting start ********-->
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-th-list"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
						<li class="quick-navigation">
							<ul class="quicknav-header">
								<li>
									<h1>Quick Navigation</h1>
								</li>
								<li>
									<div class="icon icon-hero-map"></div>HERO Map
								</li>
								<li>
									<div class="icon icon-hero-video"></div>HERO Video
								</li>
								<li>
									<a>
										<div class="icon icon-get-approved"></div>Get Approved
									</a>
								</li>
							</ul>
							<div class="quicknav-body">
								<ul>
									<li>Energy Use</li>									
									<li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
										<a id="link-6" ng-href="{{mpaeu.url}}">
										<div>{{$index + 1}}</div>
										<div>{{mpaeu.title}}</div>
										</a>	
									</li>								
								</ul>
								<ul>
									<li>Upgrades</li>
									<li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
										<a id="link-6" ng-href="{{mpau.url}}">
										<div>{{$index + 7}}</div>
										<div>{{mpau.title}}</div>
										</a>	
									</li>									
								</ul>
								<ul>
									<li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
										<a id="link-6" ng-href="{{mpap.url}}">
										<div>{{$index + 12}}</div>
										<div>{{mpap.title}}</div>
										</a>	
									</li>																		
								</ul>
							</div>
						</li>
					</ul>
				</li>

				<!--******** setting start ********-->
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a class="clickable">Home</a>
						</li>
						<li><a href="">Quick Reference Guide</a>
						</li>
						<li><a href="">Pro Pitch Demo Videos</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Feedback</a>
						</li>
						<li><a href="">FAQs</a>
						</li>
						<li><a class="ignore-leave-proposal-message" href="">Logout</a>
						</li>
					</ul>
				</li>
				<!--******** setting End ********-->

			</ul>
			<!--************ list and setting End ********-->
		</div>
	</div>


	<div class="container pages-container">
		<div class="pages row">
			<div class="proposal-page proposal-page-HSW-2 col-xs-12 column anim-fade" >

								<h1>How Your Solar System Will Work</h1>

								<div class="col-xs-12 hsw-2-content">					

									<div class="image-holder col-xs-5">
										<img src="css/images/HowSolarWorks.png">
									</div>

									<div class="col-xs-7">

										<div class="col-xs-12 column bullets">
											<div>
												<div><span>1</span>When the sun is shining your solar panels capture the free energy.</div>
											</div>
											<div>
												<div><span>2</span>Your solar panels absorb the energy and produce direct current (DC) electricity.</div>
											</div>
											<div>
												<div><span style="top:52%;">3</span>The DC electricity flows to your inverter and is converted to alternating current (AC) electricity to power your home.</div>
											</div>
											<div>
												<div><span style="top:52%;">4</span>When your system produces more solar electricity than you use, the excess is sent to the grid to help offset the cost of grid electricity used at night or on cloudy days.</div>
											</div>
										</div>

									</div>
								</div>
<!-- ngInclude: 'proposal-tool-footer' -->
								<!--<div class="disclosure-footer col-xs-12 ng-scope" ><span>

        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>

								</div>-->


							</div>
		</div>
	</div>
	<div id="proposal-page-nav">
		<a href="#/yourOptions/id1" style="text-decoration:none">
			<div class="nav-button prev">
				<span class="icon">&lt;</span> BACK
			</div>
		</a>
		<a href="#/buildSolarSystem/id1" style="text-decoration:none">
			<div class="nav-button next">
				<span class="icon">&gt;</span> NEXT
			</div>
		</a>
	</div>
</div>