<!--<div class="bg-image bg-image4"></div>-->
<img src="css/images/bus.png" style="position: fixed; height: 100%;  width: 100%;z-index: -1;">
<div class="container-fluid" id="proposal-tool-container">
    <div class="header row container-fluid ng-scope">
        <div class="container">
            <img class="logo" style="height:80px" src="css/images/Fidelity-Home-Energy-Logo.png">

            <div class="proposal-toop-quick-nav">
                <a href="#/startProposal/id1">
                <div class="nav-selection visited"></div>
                </a>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection active visited"></div>
                <div class="nav-selection-divider"></div>
                <div class="nav-selection"></div>
            </div>
                                    <!--************ list and setting start ********-->
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width:800px; height:500px">
                        <li class="quick-navigation">
                            <ul class="quicknav-header">
                                <li>
                                    <h1>Quick Navigation</h1>
                                </li>
                                <li>
                                    <div class="icon icon-hero-map"></div>HERO Map
                                </li>
                                <li>
                                    <div class="icon icon-hero-video"></div>HERO Video
                                </li>
                                <li>
                                    <a>
                                        <div class="icon icon-get-approved"></div>Get Approved
                                    </a>
                                </li>
                            </ul>
                            <div class="quicknav-body">
                                <ul>
                                    <li>Energy Use</li>
                                    <li ng-repeat="mpaeu in navMenuPageArrayEnerUses" class="visited">
                                        <a id="link-6" ng-href="{{mpaeu.url}}">
                                        <div>{{$index + 1}}</div>
                                        <div>{{mpaeu.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Upgrades</li>
                                    <li ng-repeat="mpau in navMenuPageArrayUpgrad" class="visited">
                                        <a id="link-6" ng-href="{{mpau.url}}">
                                        <div>{{$index + 7}}</div>
                                        <div>{{mpau.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>Payments</li>
                                    <li ng-repeat="mpap in navMenuPageArrayPayment" class="visited">
                                        <a id="link-6" ng-href="{{mpap.url}}">
                                        <div>{{$index + 12}}</div>
                                        <div>{{mpap.title}}</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--******** setting start ********-->
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a class="clickable">Home</a>
                        </li>
                        <li><a href="">Quick Reference Guide</a>
                        </li>
                        <li><a href="">Pro Pitch Demo Videos</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Feedback</a>
                        </li>
                        <li><a href="">FAQs</a>
                        </li>
                        <li><a class="ignore-leave-proposal-message" href="">Logout</a>
                        </li>
                    </ul>
                </li>
                <!--******** setting End ********-->

            </ul>
            <!--************ list and setting End ********-->
        </div>
    </div>


    <div class="container pages-container">
        <div class="pages row">
            <div class="proposal-page proposal-page-HSW-1 col-xs-8 col-xs-offset-2 column anim-fade" style="border-radius: 25px;">
                <h1>What are your options?</h1>

                <div class="col-xs-12" style="padding:15px;">
                    <div class="inbetween">
                        <div class="circle">
                            <div class="content">OR</div>
                        </div>
                        <div class="arc"></div>
                    </div>
                </div>
                <div class="col-xs-6 col1 column">

                    <h2>Do Nothing and Continue to Pay</h2>
                        <div class="row">
                        <span class="title">Your Average Monthly Bill</span>
                        <span class="value ng-binding"><span class="glyphicon glyphicon-arrow-up"></span>{{"$" + energyBill.avgMonthlyBill}}</span>
                    </div>
                   
                        <div class="row">
                        <span class="title">Your Annual Bill</span>
                        <span class="value ng-binding"><span class="glyphicon glyphicon-arrow-up"></span>{{"$" + energyBill.annualCostDisplay}}</span>
                    </div>
					
					<div class="row" style="margin-top:15px;">
                        <span class="title">Total Electric Costs Over {{energyBill.yearChange}} Years</span>
                        <span class="value ng-binding"><span class="glyphicon glyphicon-arrow-up"></span>{{"$" + energyBill.cumulative30YearsExpenseDisplay}}</span>
                    </div>
                  
                    <div class="row">
                        <span class="title">Your Average</span>
                        <span class="value ng-binding"><span class="glyphicon glyphicon-arrow-up"></span> {{(energyBill.annualCost/( energyBill.annualUsage)).toFixed(2) + " / kWh"}}</span>
                    </div>

                </div>
                <div class="col-xs-6 column">
                    <h2>TAKE CONTROL, GO SOLAR AND INVEST IN YOUR FUTURE</h2>
                    <p>
                        Be your own power producer and take control of your energy future.
                    </p>
                    <a href="#/buildSolarSystem/id1" style="text-decoration: none !important;">
                    <div class=" btn-proposal icon-right" >
                        <div class="btn-text" style="font-size:15px;">Build System</div>

                        <div class="btn-graphic"><!--<img src="css/images/arrow-right.png">-->
                            <div class="glyphicon glyphicon-chevron-right" style="margin-top: 12px; width:40px; font-size:25px"></div>
                        </div>
                    </div>
                    </a>
                </div>

                <!--<div class="disclosure-footer col-xs-12 ng-scope"><span class="ng-binding ng-scope">

        Copyright © 2015 Renovate America &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">HERO Program</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Privacy Policy</a><span class="ng-scope"> &nbsp; | &nbsp;
        </span><a class="ng-scope" href="#">Disclosures</a>
                </div>-->

            </div>
        </div>
    </div>
    <div id="proposal-page-nav">
        <a href="#/futureElectricCost/id1" style="text-decoration:none">
         <div class="nav-button prev">
                <span class="glyphicon glyphicon-arrow-left" style="position:relative; top:8px"></span> <span style="font-size:20px; margin-  top:3px">BACK</span>
        </div>
        </a>
    </div>
</div>
